# **1. DataFrame Column Operations with Pandas**

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

1.

In [ ]:
import pandas as pd
n = int(input())
names, maths, sci = [], [], []

for _ in range(n):
    name, m, s = map(str, input().split(" "))
    name, m, s = str(name), int(m), int(s)
    names.append(name)
    maths.append(m)
    sci.append(s)

df = pd.DataFrame({"name":names, "math_score":maths, "science_score":sci, "total_score":[maths[i] + sci[i] for i in range(n)]})
print(df)

2.

In [ ]:
import pandas as pd
n = int(input())
names, salaries = [], []
for _ in range(n):
    name, salary = map(str, input().split(" "))
    name, salary = str(name), int(salary)
    names.append(name)
    salaries.append(salary)

df = pd.DataFrame({"name":names, "salary":salaries})

threshold = int(input())
df = df[df["salary"] > threshold]
print(df)

3.

In [ ]:
import pandas as pd
n = int(input())
depts, slrs = [], []
for _ in range(n):
    dept, slr = map(str, input().split(" "))
    dept, slr = str(dept), int(slr)
    depts.append(dept)
    slrs.append(slr)

df = pd.DataFrame({"department":depts, "avg_salary":slrs})
df = df.groupby("department")["avg_salary"].mean().reset_index()
print(df)

4.

In [ ]:
import pandas as pd
n = int(input())

pdts, prcs = [], []
for _ in range(n):
    pdt, prc = map(str, input().split(" "))
    pdt, prc = str(pdt), int(prc)
    pdts.append(pdt)
    prcs.append(prc)

df = pd.DataFrame({"product":pdts, "price":prcs})
df = df.sort_values(by = "price", ascending=False).reset_index(drop = True)
print(df)

5.

In [ ]:
import pandas as pd
n = int(input())

eids, names, slrs = [], [], []
for _ in range(n):
    eid, name = map(str, input().split(" "))
    eid, name = int(eid), str(name)
    eids.append(eid)
    names.append(name)

df1 = pd.DataFrame({"employee_id":eids, "name":names})

eids = []
m = int(input())
for _ in range(m):
    eid, slr = map(int, input().split(" "))
    eids.append(eid)
    slrs.append(slr)

df2 = pd.DataFrame({"employee_id": eids, "salary": slrs})

df = pd.merge(df1, df2, on="employee_id")
print(df)

6.

In [ ]:
import pandas as pd
n = int(input())

ds, gs, slrs = [], [], []
for _ in range(n):
    d, g, s  = map(str, input().split(" "))
    d, g, s = str(d), str(g), int(s)
    ds.append(d)
    gs.append(g)
    slrs.append(s)

df = pd.DataFrame({"department":ds, "gender":gs, "salary":slrs})
df = df.groupby(["department", "gender"])["salary"].mean().reset_index()
df = df.rename(columns = {"salary" : "avg_salary"})
print(df)

7.

In [ ]:
import pandas as pd

n = int(input())
rs, ps, ss = [], [], []

for _ in range(n):
    r, p, s = map(str, input().split(" "))
    r, p, s = str(r), str(p), int(s)
    rs.append(r)
    ps.append(p)
    ss.append(s)

df = pd.DataFrame({"region":rs, "product": ps, "sales": ss})
pt = pd.pivot_table(df, values = 'sales', index = 'region', columns = 'product', fill_value = 0)
print(pt.astype(int))

8.

In [ ]:
import pandas as pd

N = int(input())
ns, cs, ars, ps, gs = [], [], [], [], []

for _ in range(N):
    n, c, a, p, g = map(str, input().split(" "))
    a, p, g = int(a), int(p), int(g)
    ns.append(n)
    cs.append(c)
    ars.append(a)
    ps.append(p)
    gs.append(g)

df = pd.DataFrame({"name":ns, "continents":cs, "population":ps, "area":ars, "gdp":gs})
df = df[(df['area'] > 3000000) | (df['population'] > 25000000)].reset_index()
print(df[['name', 'population', 'area']])

9.

In [ ]:
import pandas as pd

n = int(input())
ps, ls, rs = [], [], []

for _ in range(n):
    p, l, r = map(str, input().split(" "))
    p = int(p)
    ps.append(p)
    ls.append(l)
    rs.append(r)

df = pd.DataFrame({'product_id':ps, 'ls':ls, 'rs':rs})
df = df[(df['ls'] == 'Y') & (df['rs'] == 'Y')]
print(df[['product_id']].reset_index(drop=True))

10.

In [ ]:
import pandas as pd

data = []
n = int(input())
for _ in range(n):
    order_id, customer_id, amount = input().split()
    data.append([int(order_id), int(customer_id), int(amount)])

df = pd.DataFrame(data, columns=['order_id', 'customer_id', 'total_amount'])
df = df.drop(columns='order_id')
df = df.groupby('customer_id', as_index=False)['total_amount'].sum()

data1 = []
m = int(input())
for _ in range(m):
    customer_id, name, city = input().split()
    data1.append([int(customer_id), name, city])

df1 = pd.DataFrame(data1, columns=['customer_id', 'name', 'city'])

df_final = pd.merge(df, df1, on='customer_id')
df_final = df_final[df_final['total_amount'] > 500]
df_final = df_final.sort_values(by='total_amount', ascending=False).reset_index(drop=True)

print(df_final[['customer_id', 'name', 'city', 'total_amount']])

11.

In [ ]:
import pandas as pd

n = int(input())

names, ages, salaries = [], [], []
for _ in range(n):
    name, age, salary = input().split()

    name = None if name == "NA" else name
    age = None if age == "NA" else float(age)
    salary = None if salary == "NA" else float(salary)

    names.append(name)
    ages.append(age)
    salaries.append(salary)

df = pd.DataFrame({"name": names, "age": ages, "salary": salaries})

df["age"] = df["age"].fillna(df["age"].mean())
df["salary"] = df["salary"].fillna(0)
df["age"] = df["age"].round(2)
df["salary"] = df["salary"].round(2)

print(df)

12.

In [ ]:
import pandas as pd

n = int(input())
dates, sales = [], []

for i in range(n):
    date, sale = input().split()
    dates.append(date)
    sales.append(int(sale))

df = pd.DataFrame({"date": dates, "sales": sales})

df["date"] = pd.to_datetime(df["date"])
df["month"] = df["date"].dt.strftime('%b')
df.drop("date", axis=1, inplace=True)

df = df.groupby("month")["sales"].sum()

month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
               'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
df = df.reindex(month_order).dropna()

df = df.reset_index()
df.columns = ["month", "total_sales"]
df['total_sales'] = df['total_sales'].astype(int)

print(df)

13.

In [ ]:
import pandas as pd

n = int(input())
months, sales = [], []

for _ in range(n):
    month_str, sale = input().split()
    months.append(month_str)
    sales.append(int(sale))

df = pd.DataFrame({"month": months, "sales": sales})

df["month"] = pd.to_datetime(df["month"], format="%Y-%m")
df = df.groupby("month")["sales"].sum().reset_index()
df.columns = ["month", "total_sales"]

print(df)

14.

In [ ]:
import pandas as pd

n = int(input())
product_names = []
for _ in range(n):
    product_names.append(input())

df = pd.DataFrame({"product_name": product_names})
df['product_name'] = df['product_name'].str.lower()
df['product_name'] = df['product_name'].str.strip()
df['first_word'] = df['product_name'].str.split().str[0]
counts = df['first_word'].value_counts().reset_index()
counts.columns = ['first_word', 'count']
counts = counts.sort_values(by='count', ascending=False)

print(counts)

15.

In [ ]:
import pandas as pd

m = int(input())
ids, salaries = [], []
for _ in range(m):
    emp_id, salary = input().split()
    ids.append(int(emp_id))
    salaries.append(int(salary))

n = int(input())
df = pd.DataFrame({'id': ids, 'salary': salaries})
distinct_salaries = df['salary'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)

if n <= len(distinct_salaries):
    print(distinct_salaries[n - 1])
else:
    print("null")

16.

In [ ]:
import pandas as pd

n = int(input())
ids, scores = [], []

for _ in range(n):
    id_, score = input().split()
    ids.append(int(id_))
    scores.append(float(score))

df = pd.DataFrame({'id': ids, 'score': scores})
df = df.sort_values(by='score', ascending=False)
df['rank'] = df['score'].rank(method='dense', ascending=False).astype(int)
df = df[['score', 'rank']]

print(df.to_string(index=False))

17.

In [ ]:
import pandas as pd

n = int(input())
account_ids, incomes = [], []

for _ in range(n):
    acc_id, income = input().split()
    account_ids.append(int(acc_id))
    incomes.append(int(income))

df = pd.DataFrame({'account_id': account_ids, 'income': incomes})

df.loc[df['income'] < 20000, 'category'] = 'Low Salary'
df.loc[(df['income'] >= 20000) & (df['income'] <= 50000), 'category'] = 'Average Salary'
df.loc[df['income'] > 50000, 'category'] = 'High Salary'

category_counts = df['category'].value_counts().to_dict()
for category in ['Low Salary', 'Average Salary', 'High Salary']:
    print(f"{category} {category_counts.get(category, 0)}")

18.

In [ ]:
import pandas as pd

n = int(input())
ids, names, departments, managerIds = [], [], [], []

for _ in range(n):
    emp_id, name, dept, mgr_id = input().split()
    ids.append(int(emp_id))
    names.append(name)
    departments.append(dept)
    managerIds.append(None if mgr_id == "null" else int(mgr_id))

df = pd.DataFrame({
    "id": ids,
    "name": names,
    "department": departments,
    "managerId": managerIds
})

report_counts = df['managerId'].value_counts()
managers_with_5_or_more = report_counts[report_counts >= 5].index
manager_names = df[df['id'].isin(managers_with_5_or_more)]['name']

for name in manager_names:
    print(name)